body{
    overflow: hidden;
}
.container-fluid::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: url(../source/img/tree.png);
 }
.circle{
    position: absolute;
    top:10%;
    left: 45%;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 100px;

 }

.circle::before{
    content: " ";
    position: absolute;
    inset: -200px -300px;
    background: url('../source/img/santa.png');
    background-position-x:center ;
    background-repeat: no-repeat;
    top:10%;
    background-size: 400px ;
    animation: animate 5s ease-in-out infinite;}


.text{
    position: absolute;
    left:40%;
    top:50%;
 
}
.letters{
    font-size: 3em;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.letter-span{
    color: rgb(107, 235, 107);
    font-family: 'Times New Roman', Times, serif;
}


@keyframes animate{
    0%,100%{
        transform: translateY(-25px);
    }
    50%{
        transform: translateY(25px);
    }

 } 
.snow{
    position: relative;
    display: flex;

 } 


.snow span{
    position: relative;
    min-width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
    margin: 0 1vw;
    box-shadow: -100px 20px 5px white,100px 20px 5px white;
    animation: animatesnow  linear infinite;
    animation-duration:calc(75s/var(--i))
 }
.snow span:nth-child(even){
    min-width: 10px;
    height: 10px;
 }
@keyframes animatesnow{
    0%{
        transform: translateY(-10vh);
    }
    100%{
        transform: translateY(100vh);
    }
 }  
.count-title{
    position: absolute;
    top:125px;
    left: 80px;
    color: rgb(255, 255, 255);
    
}
.count-title h2{
    font-size: 3em;
    font-style: italic;
    animation: animateTitle 5s ease-in-out infinite;

}

@keyframes animateTitle{
    0%,100%{
        transform: translate(-25px);
    }
    50%{
        transform: translate(25px);
    }
   
}
.count-down{
    position: absolute;
    display: flex;
    top:200px;
    left:50px;

 }
.count-down div{
    flex-basis: 80px;

 }
 .count-down span{
    font-size: 20px;
    color: white;
 }

@media (max-width:480px) {

.text{
    font-size: 13px;
    left: 10%;
    top:40%;
 
}

.count-down{
    
    top:60%;
}
.count-title{
    font-size: 13px;
    top: 50%;
    
}
.circle{
    left: 25%;
}
.circle::before{
    background-size: 350px;
}
@keyframes animateTitle{
    0%,100%{
        transform: translate(-5px);
    }
    50%{
        transform: translate(5px);
    }

}
}